services:
  postgres:
    image: postgres:16
    container_name: bank-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bank
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # DATABASE_URL=postgres://postgres:postgres@localhost:5432/bank

volumes:
  postgres_data:
